button:focus {
  outline: none;
  box-shadow: none;
}

.ReactModal__Overlay--after-open {
  max-width: 650px;
  margin: 0 auto;
  z-index: 200;
}

.ReactModal__Overlay {
  max-width: 650px;
  margin: 0 auto;
}

#root {
  background-color: lightgrey;
}